<section>
    <div class="technologies grid grid-cols-5 p-4">
        <div class="text-lg p-2 border border-t-2 border-l-2 font-bold"> </div>
        <div class="text-lg p-2 border border-t-2 font-bold">Techniques</div>
        <div class="text-lg p-2 border border-t-2 font-bold">Platforms</div>
        <div class="text-lg p-2 border border-t-2 font-bold">Tools</div>
        <div class="text-lg p-2 border border-t-2 border-r-2 font-bold">Languages & Frameworks</div>
        <!-- Assess -->
        <div class="text-lg p-2 border border-l-2 font-bold">Assess</div>
        <div class="text-lg p-2 border">
            <div *ngFor="let item of technologies">
                <div *ngIf="item.category == 'techniques' && item.ring == 'assess'">{{item.name}}</div>
            </div>
        </div>
        <div class="text-lg p-2 border">
            <div *ngFor="let item of technologies">
                <div *ngIf="item.category == 'platforms' && item.ring == 'assess'">{{item.name}}</div>
            </div>
        </div>
        <div class="text-lg p-2 border">
            <div *ngFor="let item of technologies">
                <div *ngIf="item.category == 'tools' && item.ring == 'assess'">{{item.name}}</div>
            </div>
        </div>
        <div class="text-lg p-2 border border-r-2">
            <div *ngFor="let item of technologies">
                <div *ngIf="item.category == 'langsframeworks' && item.ring == 'assess'">{{item.name}}</div>
            </div>
        </div>
        <!-- Trial -->
        <div class="text-lg p-2 border border-l-2 font-bold">Trial</div>
        <div class="text-lg p-2 border">
            <div *ngFor="let item of technologies">
                <div *ngIf="item.category == 'techniques' && item.ring == 'trial'">{{item.name}}</div>
            </div>
        </div>
        <div class="text-lg p-2 border">
            <div *ngFor="let item of technologies">
                <div *ngIf="item.category == 'platforms' && item.ring == 'trial'">{{item.name}}</div>
            </div>
        </div>
        <div class="text-lg p-2 border">
            <div *ngFor="let item of technologies">
                <div *ngIf="item.category == 'tools' && item.ring == 'trial'">{{item.name}}</div>
            </div>
        </div>
        <div class="text-lg p-2 border border-r-2">
            <div *ngFor="let item of technologies">
                <div *ngIf="item.category == 'langsframeworks' && item.ring == 'trial'">{{item.name}}</div>
            </div>
        </div>
        <!-- Adopt -->
        <div class="text-lg p-2 border border-l-2 font-bold">Adopt</div>
        <div class="text-lg p-2 border">
            <div *ngFor="let item of technologies">
                <div *ngIf="item.category == 'techniques' && item.ring == 'adopt'">{{item.name}}</div>
            </div>
        </div>
        <div class="text-lg p-2 border">
            <div *ngFor="let item of technologies">
                <div *ngIf="item.category == 'platforms' && item.ring == 'adopt'">{{item.name}}</div>
            </div>
        </div>
        <div class="text-lg p-2 border">
            <div *ngFor="let item of technologies">
                <div *ngIf="item.category == 'tools' && item.ring == 'adopt'">{{item.name}}</div>
            </div>
        </div>
        <div class="text-lg p-2 border border-r-2">
            <div *ngFor="let item of technologies">
                <div *ngIf="item.category == 'langsframeworks' && item.ring == 'adopt'">{{item.name}}</div>
            </div>
        </div>
        <!-- Hold -->
        <div class="text-lg p-2 border border-l-2 border-b-2 font-bold">Hold</div>
        <div class="text-lg p-2 border border-b-2">
            <div *ngFor="let item of technologies">
                <div *ngIf="item.category == 'techniques' && item.ring == 'hold'">{{item.name}}</div>
            </div>
        </div>
        <div class="text-lg p-2 border border-b-2">
            <div *ngFor="let item of technologies">
                <div *ngIf="item.category == 'platforms' && item.ring == 'hold'">{{item.name}}</div>
            </div>
        </div>
        <div class="text-lg p-2 border border-b-2">
            <div *ngFor="let item of technologies">
                <div *ngIf="item.category == 'tools' && item.ring == 'hold'">{{item.name}}</div>
            </div>
        </div>
        <div class="text-lg p-2 border border-b-2 border-r-2">
            <div *ngFor="let item of technologies">
                <div *ngIf="item.category == 'langsframeworks' && item.ring == 'hold'">{{item.name}}</div>
            </div>
        </div>
    </div>
</section>