<section>
    <div class="technology-list p-4">
        <ul *ngIf="selectedId == 0">
            <li *ngFor="let item of technologies" class="border-t-4">
                <div class="flex text-lg">
                    <span class="flex-none p-2 font-bold">{{item.name}}</span>
                    <span class="flex-1 p-2">{{getCategoryName(item.category)}}</span>
                    <span class="flex-none p-2">
                        <button (click)="openUpdateEdit(item.id)">
                            <pencil-square-outline-icon></pencil-square-outline-icon>
                        </button>
                        <button *ngIf="item.published == 0" (click)="openPublishEdit(item.id)">
                            <arrow-up-on-square-outline-icon></arrow-up-on-square-outline-icon>
                        </button>
                    </span>
                </div>
            </li>
        </ul>
        <app-publish-form *ngIf="selectedId != 0 && currentState == 'publish'" [tech]="selectedTech"
            (closeFormEvent)="closeEdit()" (updateRefreshEvent)="getAllTechnologies()"></app-publish-form>

        <app-update-form *ngIf="selectedId != 0 && currentState == 'update'" [tech]="selectedTech"
            (closeFormEvent)="closeEdit()" (updateRefreshEvent)="getAllTechnologies()"></app-update-form>
    </div>
</section>